<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slot作用域插槽2</title>
  <script src="js/vue.js"></script>
  <style>
    ul,li {
      padding:0;
      margin:0;
    }
    .tab-tit li{
      padding: 10px 15px;
      text-align: center;
      list-style:none;
      cursor:pointer;
      display: inline-block;
    }
    .tab-tit .active{
      color: #09f;
      border-bottom: 1px solid #09f;
    }
    .tab-con div{
      margin:30px;
    }
  </style>
  <script>
    window.onload = function () {
      new Vue({
        el:'#my',
        data:{
         pname:'prante',
          page:50,
          obj:{name:'爸爸',age:50},
          title1:['在线咨询1','产品介绍1','活动动态1','限时抢购1'],
          content1:['在线咨询动态展示1','产品介绍动态展示1','活动动态动态展示1','限时抢购动态展示1'],
          title2:['在线咨询2','产品介绍2','活动动态2','限时抢购2'],
          content2:['在线咨询动态展示2','产品介绍动态展示2','活动动态动态展示2','限时抢购动态展示2'],

        },
        methods:{

        },
        components:{//局部组件

          'my-tab':{
            template:'#mytab',
            data(){
              return {
                num:0,
                obj:{
                  title:['在线咨询','产品介绍','活动动态','限时抢购'],
                  content:['在线咨询动态展示','产品介绍动态展示','活动动态动态展示','限时抢购动态展示'],

                }
              }

            },
            methods:{
              play:function(i){
                this.num = i;
              }

            },

          }
        }
      })
    }
  </script>
</head>


<template id="mytab">
  <div>
    <slot :obj="obj" :num="num" :play="play"></slot>
      </div>
</template>
<body>
<div id="my">
  <my-tab>
    <div slot-scope="abc">
      <ul class="tab-tit">
        <li v-for=" (v,index) in abc.obj.title" :class="{'active':abc.num==index}" @click="abc.play(index)">{{v}}</li>
      </ul>
      <div class="tab-con">
        <div v-for="(v,index) in abc.obj.content" v-show="abc.num == index">
          {{v}}
        </div>

      </div>
    </div>
  </my-tab>
</div>
</body>
</html>
